<?xml version='1.0' encoding='utf-8'?>
<widget id="cc.moyuer.ciphermapsync" version="2.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>闪韵谱面同步助手</name>
    <description>Ciphermap helper</description>
    <author href="https://www.moyuer.cc">
        如梦Moyuer
    </author>
    <content src="index.html" />
	<preference name="Orientation" value="landscape" />
	<preference name="android-minSdkVersion" value="25" />
	<preference name="android-targetSdkVersion" value="32" />
	<preference name="android-compileSdk" value="32" />
		
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
	
	<icon density="hdpi" src="res/ic_launcher.png" />
	<icon density="ldpi" src="res/ic_launcher.png" />
	<icon density="mdpi" src="res/ic_launcher.png" />
	<icon density="xhdpi" src="res/ic_launcher.png" />
	<icon density="xxhdpi" src="res/ic_launcher.png" />
	<icon density="xxhdpi" src="res/ic_launcher.png" />
	
	<edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application" xmlns:android="http://schemas.android.com/apk/res/android">
		<application android:requestLegacyExternalStorage="true" />
	</edit-config>
</widget>
